.naranja{
		background-color: orange;
		}
.gris{
		background-color: gray;
		}
#cuadricula{

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 13px;
		grid-row-gap: 12px;
		width: 500px;
		width: 500px;
		margin: 0 auto;
		/*border: 1px solid black;*/
		
		}
.disponible{

		border: 1px solid black;
		text-align: center;
		background-color: grey;
		color: lightcyan;
		position: relative;
		font-family: verdana;
		font-size: 11px;
		border-radius: 10px;
		-webkit-border-radius: 10px; /*Chrome*/
		-moz-border-radius: 10px;/*Mozilla*/
		-ms-border-radius: 10px;
		-o-border-radius: 10px;/*Opera*/
		cursor: default;
		}
.reservado{
		/*transform: rotate(-45deg);*/
		border: 1px solid black;
		text-align: center;
		background-color: deeppink;
		color: whitesmoke;
		position: relative;
		font-family: verdana;
		font-size: 14px;
		border-radius: 10px;
		-webkit-border-radius: 10px; /*Chrome*/
		-moz-border-radius: 10px;/*Mozilla*/
		-ms-border-radius: 10px;
		-o-border-radius: 10px;/*Opera*/
		cursor: default;
		}
		/*.rotar{
			transform: rotate(-35deg);
		}*/
.btn_agregar,.btn_editar{
		width: 20px;
		height: 20px;
		position: absolute;
		cursor: pointer;
		right: 10px;
		bottom: 5px;
}
.btn_cancelar{
		width: 20px;
		height: 20px;
		position: absolute;
		cursor: pointer;
		left: 10px;
		bottom: 5px;
}
#titulo{
	text-align: center;
	text-shadow: white;
	font-family: fantasy;
	color: navajowhite;
}

#body{
		margin: 100px auto;
		text-align: center ;
		padding: 0;
		/*background-color: #098484;*/
		/*background-image: radial-gradient(circle, #098484, #00a288, #00be79, #5bd758, #a8eb12);*/
		/*background-image: linear-gradient(to right bottom, #098484, #249782, #4ba87a, #76b76e, #a5c461);*/
		/*background-image: linear-gradient(to right bottom, #098484, #009d87, #17b57c, #5bca65, #99dc43);*/

		background-image: linear-gradient(to right bottom, #20202f, #273550, #416081, #adacb2, #eac3a2);
		/*https://codepen.io/cobaltblue/pen/tkvmi?editors=1100*/

		/*Para que quede completo el fondo*/
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
}
#abrir{
	  width:150px;
	  height:50px;
	  display:block;
	  margin:100px auto;
		}
.show{
	  display:block;
		}
.hidden{
	  display:none;
		}
.ligthbox{
		position: fixed;
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		background:rgba(0,0,0,.6);
		z-index: 1; /*Sirve para posicionarlo por encima de todo lo que haya*/
		}
.login_content{
		position: relative;
		background-color: #999;
		width: 353px;
		height: 230px;
		margin-right: auto;
		margin-left: auto;
		top:50%;
		margin-top: -115px;
		border-radius: 5%;
		-webkit-border-radius: 5%; /*Chrome*/
		-moz-border-radius: 5%;/*Mozilla*/
		-ms-border-radius: 5%;
		-o-border-radius: 5%;/*Opera*/
		}
.close_button{
		position: absolute;
		background-color: #333;
		top: 10px;
		right: 10px;
		color: white;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 20px;
		-webkit-border-radius: 20px; /*Chrome*/
		-moz-border-radius: 20px;/*Mozilla*/
		-ms-border-radius: 20px;
		-o-border-radius: 20px;/*Opera*/
		cursor: pointer;
		font-size: 23px;
		line-height: 34px;
		font-family: verdana;
		}
.close_button:hover{
		background-color: white;
		color: #333;
		}
#input_name{
		position: absolute;
		top: 70px;
		left: 60px;
		width: 210px;
		height: 28px;
		border-radius: 6px;
		-webkit-border-radius: 6px; /*Chrome*/
		-moz-border-radius: 6px;/*Mozilla*/
		-ms-border-radius: 6px;
		-o-border-radius: 6px;/*Opera*/
		font-family: verdana;
		}
#input_password{
		position: absolute;
		top: 113px;
		left: 60px;
		width: 210px;
		height: 28px;
		border-radius: 6px;
		-webkit-border-radius: 6px; /*Chrome*/
		-moz-border-radius: 6px;/*Mozilla*/
		-ms-border-radius: 6px;
		-o-border-radius: 6px;/*Opera*/
		font-family: verdana;
		}
#button_login{
		position: absolute;
		top: 160px;
		left: 60px;
		width: 110px;
		height: 40px;
		border-radius: 5px;
		-webkit-border-radius: 5px; /*Chrome*/
		-moz-border-radius: 5px;/*Mozilla*/
		-ms-border-radius: 5px;
		-o-border-radius: 5px;/*Opera*/
		cursor: pointer;
		font-family: verdana;
		}
#button_cancel{
		position: absolute;
		top: 160px;
		left: 175px;
		width: 101px;
		height: 40px;
		border-radius: 5px;
		-webkit-border-radius: 5px; /*Chrome*/
		-moz-border-radius: 5px;/*Mozilla*/
		-ms-border-radius: 5px;
		-o-border-radius: 5px;/*Opera*/
		font-family: verdana;
		}
#usuario, #clave, #nombre, #correo, #clave2, #fecha{
	font-family: verdana;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	-webkit-border-radius: 6px; /*Chrome*/
	-moz-border-radius: 6px;/*Mozilla*/
	-ms-border-radius: 6px;
	-o-border-radius: 6px;/*Opera*/
}
#registrate{
	font-family: verdana;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	-webkit-border-radius: 6px; /*Chrome*/
	-moz-border-radius: 6px;/*Mozilla*/
	-ms-border-radius: 6px;
	-o-border-radius: 6px;/*Opera*/
	color: blanchedalmond;
}
#btn_enviar, #btn_registro, #btn_consultar{
	font-family: verdana;
	width: 100px;
	cursor: pointer;
	border-radius: 6px;
	-webkit-border-radius: 6px; /*Chrome*/
	-moz-border-radius: 6px;/*Mozilla*/
	-ms-border-radius: 6px;
	-o-border-radius: 6px;/*Opera*/
}